@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}


body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 1.6;
  color: #222;
}

/* 공통(재사용) */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* float를 해제 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}

/* 상단영역 */
.header {
  position: absolute;
  display: block;
  width: 100%;
  transition: all 0.5s;
  /* background-color: #FFA937; */
  z-index: 999;
}

.change {
  background-color: #fff;
}

.header .inner {
  display: block;
  z-index: 999;
}

.logo {
  display: block;
  width: 221px;
  height: 44px;
  background: url('../images/logo-f.png') no-repeat center;
  background-size: contain;
  margin-top: 29px;
  float: left;
}
.logo-2{
  background: url('../images/logo-l.png') no-repeat center;
}

.gnb {

  display: block;
  float: left;
  margin-left: 170px;
  
}

.menu {

  display: block;
}

.menu>li {

  display: block;
  float: left;
  /* margin-right: 70px; */
}

.menu>li:last-child {
  margin-right: 0;
}

.gnb-name {
  display: block;
  width: 100%;
  height: 80px;
  color: #fff;
  line-height: 100px;
  font-size: 17px;
  margin-right: 70px;
  font-weight: 700;
}

.gnb-name-open{
  color: #000;
}
.menu>li>a:hover {
  color: #009ECC;
}
.menu>li:hover .sub-list{
  display:block
}
.sub-box {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
}



.sub-list {
  position: relative;
  display: none;
  width: 910px;
  height: 100%;
  line-height: 80px;
  text-align: center;
}

.sub-list li {
  position: relative;
  display: inline-block;
  margin-right: 3.5%;
  margin-left: 1.5%;
}
.sub-list li a:hover{
  color: #ffd48f;;
}
.sub-list li:first-child{
  margin-left: 0;
}
.sub-list li:last-child{
  margin-right: 0;
}

.sub-list li::after {
  position: absolute;
  top: 50%;
  right: -25px;
  content: '';
  width: 3px;
  height: 3px;
  display: inline-block;
  background:url('../images/sub_menu_dot.png') no-repeat center;
}

.sub-list li:last-child::after{
  display: none;
}
.sub-list li a {
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
}

.sub-box-bg {
  position: absolute;
  top: 80px;
  left: 0;
  display: none;
  width: 100%;
  height: 80px;
  background: #20a4d4;
  opacity: 0.77;
  z-index: 99;
}
.sub-box-bg-open{
  display: block;
}


.header-btn {
  position: relative;
  display: block;
  float: right;
  width: 160px;
  height: 80px;
}

.header-btn-left {
  position: relative;
  display: block;
  width: 60%;
  margin-top: 35px;
  padding-right: 30px;
  border-right: 1px solid #fff;
  font-size: 12px;
  float: left;
}
.header-btn-left-open{
  border-right: 1px solid #000;
}
.lang-box {
  position: relative;
  display: block;
  width: 60px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
}
.lang-box-open{
  border: 1px solid #000;
  color: #000;
}
.lang-box::after {
  content: '';
  position: absolute;
  top: 11px;
  right: 6px;
  display: block;
  width: 10px;
  height: 6px;
  background: url('../images/lang_arrow.png') no-repeat center;
}
.lang-box-open::after{
  background: url('../images/lang_arrow_sticky.png') no-repeat center;
}
.lang-box-open-black{
  background: url('../images/lang_arrow_sticky.png') no-repeat center;
  transform: rotate(180deg);
}
.lang-box-click::after{
  
  background: url('../images/lang_arrow.png') no-repeat center;
  transform: rotate(180deg);
}
.lang-box-list {
  position: absolute;
  left: -1px;
  top: 30px;
  display: none;
  width: 60px;
  border: 1px solid #fff;
  text-align: left;
}
.lang-box-list-open{
  border: 1px solid #000;
}
.lang-box-list>li {
  position: relative;
  display: block;
  z-index: 99;

}

.lang-box-list>li>a {
  position: relative;
  display: block;
  color: #fff;
  margin-left: 9px;
}
.lang-box-lang-open{
  color: #000;
}
.header-btn-right {
  position: relative;
  display: block;
}

.hb-bt {
  position: absolute;
  top: 40px;
  right: 0;
  display: block;
  width: 35px;
  height: 21px;
}
.hb-bt-open{
  display: block;
}

.hb-bt::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.hb-bt-line {
  position: absolute;
  right: 0;
  top: 9px;
  display: block;
  width: 75%;
  height: 3px;
  background-color: #fff;
}
.hb-bt::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.hb-bt-open::before {
  
  background-color: #000;
}
.hb-bt-line-open {

  background-color: #000;
}
.hb-bt-open::after {

  background-color: #000;
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
}

.video {
  position: relative;
  display: block;
  width: 100%;
}

/* 제품정보 */
.items {
  position: relative;
  display: block;
  /* width: 100%; */
  height: 486px;
  background: url('../images/item-bg.png') no-repeat center;
  background-size: cover;
}

.items .inner {
  position: relative;
  display: block;
  height: 100%;
  padding: 160px 70px;
}

.items-left {
  position: relative;
  display: block;
  float: left;

}

.items-left h2 {
  position: relative;
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  color: #fff;
  margin-bottom: 25px;

}

.items-left p {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 62px;
}

.items-left-button {
  position: relative;
  display: block;
  width: 160px;
  border: 1px solid #fff;
  border-radius: 24px;
  color: #fff;
  padding: 10px 0;
  padding-left: 23px;
}

.items-left-button:hover {
  background: #fff;
  color: #25ACC2;
}

.items-right {
  position: relative;
  display: block;
  width: 723px;
  height: 460px;
  float: right;
  padding-left: 77px;
  padding-bottom: 58px;

}

.sw-item {
  width: 100%;
  height: 100%;
}

.sw-item a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.item-1 {
  background: url('../images/itempc1.png') no-repeat center;
  background-size: cover;
}

.item-2 {
  background: url('../images/itempc2.png') no-repeat center;
  background-size: cover;
}

.item-3 {
  background: url('../images/itempc3.png') no-repeat center;
  background-size: cover;
}

.item-4 {
  background: url('../images/itempc4.png') no-repeat center;
  background-size: cover;
}

.item-5 {
  background: url('../images/itempc5.png') no-repeat center;
  background-size: cover;
}

.sw-item-control {
  position: absolute;
  right: 55px;
  bottom: 55px;
  display: block;
  width: 168px;
  z-index: 999;

}

.sw-item-pg {}

.sw-item-bt {
  position: relative;
  display: block;
  width: 10px;
  height: 15px;
  border: 0;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  background: url('../images/btn_pause.png') no-repeat center;
}

.sw-item-bt-play {
  background: url('../images/btn_play.png') no-repeat center;
}

.swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  background-color: #FFA937;
  margin-right: 10px;
  float: left;
}

/* 회사소식 */
.news {
  position: relative;
  display: block;

  margin-top: 200px;
  background: #f6f6f7;
}

.news .inner {
  position: relative;
  display: block;
  padding: 100px 70px;

}

.news h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.news .inner>p {
  margin-top: 25px;
  font-size: 17px;
  line-height: 28px;
  color: #191919;
  margin-bottom: 40px;
}

.news-box {
  position: relative;
  display: block;
}

.news-list {
  position: relative;
  display: block;
}

.news-list li {
  position: relative;
  display: block;
  margin-right: 40px;
  float: left;
}

.news-list li:last-child {
  margin-right: 0;
}

.news-1 {
  position: relative;
  display: block;
  width: 347px;
  height: 231px;
  background: url('../images/news-1.jpg') no-repeat center;
  background-size: contain;

}

.news-2 {
  position: relative;
  display: block;
  width: 347px;
  height: 231px;
  background: url('../images/news-2.jpg') no-repeat center;
  background-size: contain;
}

.news-3 {
  position: relative;
  display: block;
  width: 347px;
  height: 231px;
  background: url('../images/news-3.jpg') no-repeat center;
  background-size: contain;
}

.news-list li p {
  color: #000;
  margin-top: 20px;
  line-height: 28px;

  font-size: 15px;
  text-align: center;
}

.news-more {
  position: absolute;
  right: 100px;
  top: 165px;
  display: block;
  border: 1px solid #000;
  border-radius: 24px;
  width: 160px;
  padding: 13px 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #000;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.news-more:hover {
  background-color: #000;
  color: #fff;
}

/* 정보모음 */
.inves {
  position: relative;
  display: block;
  height: 640px;
  background: url('../images/info-bg.jpg') no-repeat center fixed;
  background-size: cover;
}

.inves .inner {
  position: relative;
  display: block;
  height: 100%;

}

.inves-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
  display: block;
}

.inves .inner h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;

}

.inves .inner p {
  margin-top: 25px;
  font-size: 17px;
  line-height: 28px;
  color: #191919;
}

.newproduct {
  position: relative;
  display: block;
  height: 684px;
  background: url('../images/newpro-bg.jpg') no-repeat center;
  background-size: cover;
}

.newproduct .inner {
  position: relative;
  display: block;
  height: 100%;
}

.newproduct-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 180px;
  display: block;
  animation: slide 1s ease-in;
}

@keyframes slide {
  from {
    margin-right: -100px;
    opacity: 0;
  }

  to {
    margin-right: 0px;
    opacity: 1;
  }
}

.newproduct-box h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.newproduct-box p {
  margin-top: 25px;
  font-size: 17px;
  line-height: 28px;
  color: #191919;
}

.newproduct-box-btn {
  position: relative;
  display: block;
  border: 1px solid #000;
  border-radius: 24px;
  width: 160px;
  margin-top: 50px;
  margin-right: 4%;
  text-align: center;
  color: #000;
  transition: all 0.3s;
  padding: 13px 0;
  font-size: 15px;
  font-weight: 400;
  background: none;
  cursor: pointer;
}

.newproduct-box-btn:hover {
  background-color: #222;
  color: #fff;
}

.job {
  position: relative;
  display: block;
  height: 520px;
  background: url('../images/job-bg.jpg') no-repeat center;
  background-size: cover;
}

.job .inner {
  position: relative;
  display: block;

}

.job-left {
  position: relative;
  display: block;
  float: left;
  margin-top: 200px;
  margin-left: 70px;
}

.job-left h2 {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
}

.job-left p {
  position: relative;
  display: block;
  font-weight: 300;
  color: #fff;
  line-height: 25px;
  font-size: 17px;
  margin-top: 25px;
}

.job-right {
  position: relative;
  display: block;
  float: left;

  margin-top: 130px;
  margin-left: 50px;
}

.job-right-list {
  position: relative;
  display: block;
  text-align: center;
}

.job-right-list li {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  height: 260px;
  background: #009AC2;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-left: 15px;
  opacity: 0.8;
  outline: none;
  transition: all 0.5s
}

.job-right-title {
  position: relative;
  display: block;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 55px;
  font-weight: 700;
}

.job-right-txt {
  position: relative;
  display: block;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 25px;

}

.job-right-btn {
  position: relative;
  display: inline-block;
  width: 96px;
  padding: 8px 0;
  border-radius: 15px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s;
  background: transparent;
  cursor: pointer;
}

.job-right-btn:hover {
  background: #fff;
  color: #009AC2;
}

/* 하단영역 */
.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
}